<div class="flexHeader">
    <h1>Appointements</h1>
</div>
<br>
<br>
<br>
<br>
<table class="table tabl-striped table-boardered">

    <thead>
        <tr>
            <th>Client Name</th>
            <th>Date</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Plugger</th>
            <th>Level</th>
            <th>Battery Power</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointement of appointementsClientsData">
            <td>{{appointement.name}}</td>

            <td>{{appointement.date}}</td>

            <td>{{appointement.brand}}</td>

            <td>{{appointement.model}}</td>

            <td>{{appointement.plugger}}</td>

            <td>{{appointement.charging_level}}</td>

            <td>{{appointement.battery_power}}</td>

            <td>{{appointement.status}}</td>
    
            <td>
               
            </td>
            
        </tr>
    </tbody>
</table>
