
<div class="flexHeader">
    <h1>Add Appointement</h1>
</div>

<div class="login-box">  
    <form>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Registration Number</label>
        <div class="user-box">
            <input type="text" name="title" required>
            
        </div>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Last 5 Characters of Chassis</label>
        <div class="user-box">
            <input type="text"  name="subtitle" required>
           
        </div>
      
        <div class="buttons">
            <button class="btn" routerLink="payment" type="button" >
                Pass to payment
            </button>
            <button class="btn" type="reset">
                Reset
            </button>
        </div>        
    </form>
    <br>
    <br>
</div>
