
<div class="flexHeader">
    <h1>Add Model</h1>
</div>

<div class="login-box">
    
    <form>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Model Name</label>
        <div class="user-box">
            <input type="text" name="Model name" required>
            
        </div>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Description</label>
        <div class="user-box">
            <input type="text" name="Description" required>
           
        </div>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Class</label>
        <div class="user-box">
            <input type="text" name="Class" required>
            
        </div>

        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Year</label>
        <div class="user-box">
            <input type="text" name="Year" required>
            
        </div>

        <div class="user-box">
            <div class="input-div">
                <input class="input" name="image" type="file">
            </div>
        </div>
      
        <div class="buttons">
            <button class="btn" routerLink="/dashboard/brands/add-model" type="button" >
                Add
            </button>
            <button class="btn" type="reset">
                Reset
            </button>
        </div>        
    </form>
    <br>
    <br>
</div>
