
<div class="flexHeader">
    <h1>My Profile</h1>
</div>

<div class="login-box">
    
    <form>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Name</label>
        <div class="user-box">
            <input type="text" name="name" required>
            
        </div>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Email</label>
        <div class="user-box">
            <input type="email" name="email" required>
           
        </div>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Phone Number</label>
        <div class="user-box">
            <input type="text" name="phone" required>
            
        </div>

        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">New password</label>
        <div class="user-box">
            <input type="password" name="password" required>
            
        </div>

        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Confirm password</label>
        <div class="user-box">
            <input type="password" name="confirmPassword" required> 
        </div>
      
        <div class="buttons">
            <button class="btn" type="button" >
                Update
            </button>
            <button class="btn" type="reset">
                Reset
            </button>
        </div>        
    </form>
    <br>
    <br>
</div>
