<!-- <div class="headerElements">
    <div class="flexHeader">
        <h1>Models</h1>
    </div>
    <button class="btn" routerLink="/dashboard/brands/add-model">
        Add Model
    </button>
</div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <ng-container *ngFor="let model of brand.models">
        
        <a href="#" alt="Mythrill" target="_blank" type="checkbox">
            <div class="modelCard">
            <div class="wrapper">
                <img [src]="model.image_url" class="cover-image" />
            </div>
            <h1 class="title">{{model.model_name}}</h1>
            </div>
        </a>
    </ng-container>
</div>
 -->