<div class="flexHeader">
    <h1>Add Plugger</h1>
</div>

<div class="login-box">
    
    <form>

        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Plugger</label>
        <div class="user-box">
            <input type="text" name="plugger" required>
            
        </div>
        <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Charging Level</label>
        <div class="user-box">
            <input type="text"  name="level" required>
        </div>
       <!--  <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #9e9ea7;
        ">Power</label>
        <div class="user-box">
            <input type="text" name="power" required>
            
        </div>
       -->
        <div class="buttons">
            <button class="btn"  type="button" >
                Add
            </button>
            <button class="btn" type="reset">
                Reset
            </button>
        </div>        
    </form>
    <br>
    <br>
</div>