<div class="nav-items">
    <h3>EV UPTIME</h3>
    <br>
    <br>
    <br><br>
    <br>
    <br>
      <div class="nav-item" routerLink="appointements">
        <i class="fa-solid fa-house"></i>
        <span>My Appointements</span>
      </div>
     <div class="nav-item"  routerLink="profile">
      <i class="fa-solid fa-gear"></i>
      <span>My Profile</span>
      </div>
      <!--
      <div class="nav-item" routerLink="pluggers">
        <i class="fa-solid fa-bolt"></i>
        <span >Pluggers</span>
      </div> -->
    </div>