<div class="nav-items">
    <h3>EV UPTIME</h3>
    <br>
    <br>
    <br><br>
    <br>
    <br>
      <div class="nav-item" routerLink="appointements">
        <i class="fa-solid fa-house"></i>
        <span >Appointements</span>
      </div>
     <!--  <div class="nav-item"  routerLink="brands">
        <i class="fa-solid fa-car"></i>
        <span>Brands</span>
      </div>
      <div class="nav-item" routerLink="pluggers">
        <i class="fa-solid fa-bolt"></i>
        <span >Pluggers</span>
      </div> -->
    </div>